body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Rules --- COME BACK AND FIX AFTER RESIZING PICS*/

header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid white;
  margin-top: 0px;
  /*position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: scroll;*/
}

.logo img {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

header nav {
  border: thin solid blue;
  display: flex;
  justify-content: space-between;
}

nav ul {
  border: thin solid red;

}

nav ul span {
  border: thin solid green;
}

nav ul span a {
  color: seashell;
}

/*Container 2 TEA OF THE MONTH*/

.container-2 {
  border: thin solid blue;
  width: 1000px;
  margin-left: 210px;
}

.pictures img {
  border: thin solid red;
  height: 200px;
  width: 300px;
}
